*{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    background-color: black;
    width: 100vw;
    height: 40px;
}
section{
    text-align: center;
    
}
body {
    background-color: blanchedalmond;
    font-size: 18px;
  
}