* {
    margin: 0;
    padding: 0;
}
header{
    width: 100vw;
    height: 5vw;
    text-align: center;
    background-color: black;
    color: rgb(243, 243, 243);
    
    
    
  
}

section{
    width: 100vw;
    height: 42vw;
    text-align: center; 
    background-color: rgb(173, 235, 235);
    font-size: 25px;
    padding-top: 1cm;
    
    

}
footer{
    width: 100vw;
     background-color: rgb(70, 85, 85);
     text-align: left ;
     
}
table {
   margin-left: auto;
   margin-right: auto;
}
.img:hover{
    opacity: 0.2;

}
